[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.natalee.startup
Exec=/usr/bin/com.natalee.startup
Name=Startup
Name[ru]=Стартап

[X-Application]
Permissions=Audio;Camera;Documents;Downloads;Internet;Location;Microphone;Music;Pictures;PublicDir;PushNotifications;RemovableMedia;Videos;WebView
OrganizationName=com.natalee
ApplicationName=startup

